body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E6FA
}
h1 {
    text-align: center;
    color: black;
    font-size: 30px;
}
.smaller-text{
    font-size: 19px;
    color: grey
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    margin: 0;
    padding: 0;
    height: auto;
}

.graph-container {
    display: flex;
    justify-content: center;
    width: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-data {
    text-align: center;
    color: grey;
    font-size: 26px;
}

.coffee-button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #333333;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 15px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}
.coffee-button:hover {
    background-color: #5b5b5b;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 15px;
}
.button:hover {
    background-color: #5b5b5b;
}
.button:active {
    background-color: #0000FF;
    transform: translateY(4px);
}