body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E6FA
}
h1 {
    text-align: center;
    color: black;
    font-size: 30px;
}
.smaller-text{
    font-size: 19px;
    color: grey
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.graph-container > div {
    margin: auto;
}
/* Media queries */
@media only screen and (max-width: 768px) {
    /* Adjust styles for screens smaller than 768px */
    .graph-container > div {
        max-height: 300px;
    }
    h1 {
        font-size: 20px; /* Decrease font size for better readability on mobile */
    }
    .weather-data {
        font-size: 18px; /* Decrease font size for better readability on mobile */
    }
    .coffee-button {
        font-size: 14px; /* Decrease font size for better readability on mobile */
    }
    .button {
        font-size: 14px; /* Decrease font size for better readability on mobile */
    }
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-data {
    text-align: center;
    color: grey;
    font-size: 26px;
}

.coffee-button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #333333;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 15px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}
.coffee-button:hover {
    background-color: #5b5b5b;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 15px;
}
.button:hover {
    background-color: #5b5b5b;
}
.button:active {
    background-color: #065535;
    transform: translateY(4px);
}