<!DOCTYPE html>
<html>
<head>
    <title>VNO Viewpoint App</title>
    <link rel="stylesheet" type="text/css" href="/static/best_time.css">
</head>
<body>
    <div class="header">
        <div class="weather-data">
            <span>{{ weather_data }}</span>
        </div>
    </div>
    <div style="text-align: right;">
        <a href="{{ url_for('flights_data') }}" class="button">Flights</a>
    </div>

    <h1>VNO Viewpoint Best Time</h1>

    <!-- add smalller text -->
    <div style="text-align: center; max-width: 800px; margin: 0 auto;">
        <p>The bar chart illustrates the frequency of flights at Vilnius International Airport in 15-minute intervals.
            A higher bar indicates a greater number of arrivals or departures during that specific time period.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Display chart.html -->
    <div style="margin-bottom: 50px;">
        <canvas id="timeChart" height="400"></canvas>
    </div>

    <!-- The script that generates the chart -->
    <script>
        var ctx = document.getElementById('timeChart').getContext('2d');
        var labels = JSON.parse('{{ labels | tojson | safe }}');
        var data = JSON.parse('{{ data | tojson | safe }}');
    
        // Format the labels to mm-dd hh:mm
        for (var i = 0; i < labels.length; i++) {
            labels[i] = labels[i].slice(5, 25);
        }
    
        // Calculate dynamic left margin based on window width
        var dynamicLeftMargin = Math.min(150, window.innerWidth * 0.1);
    
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Flights',
                    data: data,
                    backgroundColor: 'rgba(0, 0, 0, 0.6)',
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        ticks: {
                            stepSize: 1
                        },
                        grid: {
                    display: false
                        }
                    },
                    y: {
                        grid: {
                    display: false
                        }
                    }
                },
                layout: {
                    padding: {
                        left: dynamicLeftMargin, 
                        right: dynamicLeftMargin
                    }
                }
            }
        });
    </script>

    <!-- Buy Me A Coffee button -->
    <div style="text-align: right;">
        <a href="https://www.buymeacoffee.com/kodotautas" class="coffee-button" target="_blank">Buy Me A Coffee</a>
    </div>

</body>
</html>