<!DOCTYPE html>
<html>
<head>
    <title>VNO Viewpoint App</title>
    <link rel="stylesheet" type="text/css" href="/static/best_time.css">
</head>
<body>
    <div class="header">
        <div class="weather-data">
            <span>{{ weather_data }}</span>
        </div>
    </div>

    <!-- Add container to align buttons and add links to other pages -->
    <div style="display: flex; justify-content: right;">
        <div>
            <a href="{{ url_for('flights_data') }}" class="button">Flights</a>
        </div>
    </div>

    <h1>VNO viewpoint best times to watch planes</h1>

    <!-- Add chart highcharts container -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <div id="chart" style="height: 2250px; margin-left: 5%; margin-right: 5%;"></div>
    
    <script>
        var labels = JSON.parse('{{ labels | tojson | safe }}');
        var data = JSON.parse('{{ data | tojson | safe }}');
    
        function adjustTime(timeStr) {
            var timeParts = timeStr.split(':');
            var date = new Date();
            date.setHours(parseInt(timeParts[0]));
            date.setMinutes(parseInt(timeParts[1]));
    
            var dateBefore = new Date(date);
            dateBefore.setMinutes(date.getMinutes() - 5);
            var dateAfter = new Date(date);
            dateAfter.setMinutes(date.getMinutes() + 5);
    
            var timeBefore = dateBefore.getHours().toString().padStart(2, '0') + ':' + dateBefore.getMinutes().toString().padStart(2, '0');
            var timeAfter = dateAfter.getHours().toString().padStart(2, '0') + ':' + dateAfter.getMinutes().toString().padStart(2, '0');
    
            return timeBefore + '-' + timeAfter;
        }
    
        Highcharts.chart('chart', {
            chart: {
                type: 'bar',
                backgroundColor: '#E6E6FA',
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500 // this will apply to screens smaller than 500px
                        },
                        chartOptions: {
                            chart: {
                                height: 'auto' // chart height will adjust automatically
                            },
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            },
                            xAxis: {
                                labels: {
                                    style: {
                                        fontSize: '18px' // smaller font size for mobile
                                    }
                                }
                            }
                        }
                    }]
                }
                // add hidden labels functionality
                // events: {
                // load: function() {
                //     var chart = this;
                //     chart.series[0].data.forEach(function(point, i) {
                //         if (point.color !== 'rgba(0, 0, 255, 0.6)') {
                //             chart.xAxis[0].ticks[i].label.hide();
                //         }
                //     });
                // }
            // }
            },
            title: {
                text: null
            },
            xAxis: {
                categories: labels,
                labels: {
                    style: {
                        fontSize: '19px'
                    },
                    formatter: function() {
                        var label = this.value;
                        var previousLabel = this.axis.categories[this.pos - 1] || '';
                        var currentDay = label.split(' ')[0];
                        var previousDay = previousLabel.split(' ')[0];
    
                        if (currentDay !== previousDay) {
                            return label.split(' ')[0] + ' ' + adjustTime(label.split(' ')[1]);
                        } else {
                            return adjustTime(label.split(' ')[1]);
                        }
                    }
                }
            },
            yAxis: {
                title: {
                    text: null // remove y-axis title
                },
                tickInterval: 1,
                max: Math.max(...data),
            },
            series: [{
                name: '# of Flights',
                data: data,
                colorByPoint: true
            }],
            plotOptions: {
                bar: {
                    colorByPoint: true
                }
            },
            colors: data.map((value, index) => {
                var sortedData = [...data].sort((a, b) => b - a);
                return sortedData.indexOf(value) <= 3 ? 'rgba(0, 0, 255, 0.6)' : 'rgba(0, 0, 0, 0.6)';
            }),
            credits: {
                enabled: false
            }
        });
    </script>

    <!-- Add container to align buttons and add links to other pages -->
    <div style="display: flex; justify-content: space-between;">
        <div>
            <a href="{{ 'https://www.google.com/maps/place/Vilniaus+oro+uosto+l%C4%97ktuv%C5%B3+steb%C4%97jimo+aik%C5%A1tel%C4%97/@54.6302678,25.2760025,17z/data=!3m1!4b1!4m6!3m5!1s0x46dd95ffb136b273:0xd6354b0f6b482d5d!8m2!3d54.6302678!4d25.2785774!16s%2Fg%2F11fqkp_bkw?entry=ttu' }}" class="coffee-button" target="_blank">Viewpoint location</a>
        </div>

        <div>
            <a href="https://github.com/Kodotautas" class="coffee-button" target="_blank">GitHub</a>
        </div>
    </div>


</body>
</html>