<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <title>VNO Viewpoint App</title>
    <link rel="stylesheet" type="text/css" href="/static/flights_data.css">
</head>
<body>
    <div class="header">
        <div class="weather-data">
            <span>{{ weather_data }}</span>
        </div>
    </div>
    
    <!-- <a href="{{ url_for('best_time') }}" class="button" >Best time</a> -->
    
    <div style="display: flex; justify-content: space-between;">
        <div>
            <a href="{{ 'https://www.google.com/maps/place/Vilniaus+oro+uosto+l%C4%97ktuv%C5%B3+steb%C4%97jimo+aik%C5%A1tel%C4%97/@54.6302678,25.2760025,17z/data=!3m1!4b1!4m6!3m5!1s0x46dd95ffb136b273:0xd6354b0f6b482d5d!8m2!3d54.6302678!4d25.2785774!16s%2Fg%2F11fqkp_bkw?entry=ttu' }}" class="button" target="_blank">Viewpoint location</a>
        </div>
        
        <div>
            <a href="{{ url_for('best_time') }}" class="button">Best time</a>
        </div>
    </div>

    <h1>VNO Flights</h1>
    
    <table class="flights-data-table">
        <thead>
            <tr>
                <th>Final time</th>
                <th>Type</th>
                <th>Origin city</th>
                <th>Destination city</th>
                <th>Flight number</th>
                <th>Aircraft model</th>
                <th>Aircraft country</th>
                <th>Airline</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights_data %}
            <tr>
                <td>{{ flight['Final time'] }}</td>
                <td>{{ flight['Type'] }}</td>
                <td>{{ flight['Origin city'] }}</td>
                <td>{{ flight['Destination city'] }}</td>
                <td>{{ flight['Flight number'] }}</td>
                <td>{{ flight['Aircraft model'] }}</td>
                <td>{{ flight['Aircraft country'] }}</td>
                <td>{{ flight['Airline'] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    <script>
        $(document).ready(function() {
            $('.flights-data-table').DataTable({
                "pageLength": 25
            });
        });
    </script>
    
</body>
</html>
